/* You can delete / re-write this img class  */


/* Happy coding! */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    max-width: 50rem;
    width: 13rem;
    max-height: 150rem;
    margin: 2rem;
    padding: 2rem;
    border: 0.25rem solid;
}


.card__img {
    border: 0.5rem;
    border-radius: 1rem;
    padding: 2 rem;
    width: 10rem;
    height: 12rem;
}

.card--black {
    background-color: black;
}

.card--grey {
    background-color: grey;
}

.card--yellow {
    background-color: yellow;
}

.card--white {
    background-color: white;
}

.card__border--red {
    border-color: red;
}

.card__text--red {
    color: red;
}

.card__border--purple {
    border-color: purple;
}

.card__text--purple {
    color: purple;
}


.card__border--orange {
    border-color: orange;
}

.card__text--orange {
    color: orange;
}

.card__border--green {
    border-color: green;
}

.card__text--green {
    color: green;
}

.card__btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.card__btn--white {
    color: green;
    background: white;
    border-color: green;
}

.card__btn--black {
    color: red;
    background: black;
    border-color: red;
}

.card__btn--grey {
    color: purple;
    background: grey;
    border-color: purple;
}

.card__btn--yellow {
    color: orange;
    background: yellow;
    border-color: orange;
}