/* You can delete / re-write this img class  */

img {
    max-width: 200px;
}

/* Happy coding! */
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card{
    max-width : 50rem;
    width: 13rem;
    max-height: 150rem;
    margin: 2rem;
    padding: 2rem;
    border: 0.25rem solid;
}

.card-dark{
    color: red;
    background-color: black;
    border-color: red;
}

.card-notsodark{
    color: purple;
    background-color: grey;
    border-color: purple;
}
.card-notsolight{
    color: blue;
    background-color:lightyellow;
    border-color: blue;
}

.card-light{
    color: black;
    background-color: white;
    border-color: orange;
}



.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
 }

.btn-light {
    background: #FFF;
    border-color: orange;
 }
 
 .btn-dark{
    color: red;
    background: #000;
    border-color: red;
 }
 
 .btn-notsodark{
    color: purple;
    background: grey;
    border-color: purple;
 }

 .btn-notsolight {
    background: lightyellow;
    border-color: blue;
 }



 
 






/* Structure
height
width
margins
padding
overflow

Skin
colors
fonts
shadows
gradients */